{% extends "taskmanager/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Editar Tarea</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.titulo.label_tag }}
        {{ form.titulo }}
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
        {{ form.fecha_vencimiento.label_tag }}
        <input type="datetime-local" id="id_fecha_vencimiento" name="fecha_vencimiento" required placeholder="YYYY-MM-DDTHH:mm" value="{{ task.fecha_vencimiento|date:'Y-m-d\TH:i' }}">
        {{ form.etiquetas.label_tag }}
        {{ form.etiquetas }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
