{% extends "taskmanager/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Editar Tarea</h2>
    <form method="POST" action="{% url 'editar_tarea' task.id %}">
        {% csrf_token %}
        {{ form.titulo.label_tag }}
        {{ form.titulo }}
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
        {{ form.fecha_vencimiento.label_tag }}
        <input type="datetime-local" id="id_fecha_vencimiento" name="fecha_vencimiento" required placeholder="YYYY-MM-DDTHH:mm" value="{{ task.fecha_vencimiento|date:'Y-m-d\TH:i' }}">

        <div class="form-check form-group">
            <label class="form-check-label" for="{{ form.prioridad.id_for_label }}">¿Prioridad?</label>
            {{ form.prioridad }}
        </div>
        
        {{ form.etiquetas.label_tag }}
        {{ form.etiquetas }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
<a href="{% url 'listar_tareas_pendientes' %}" class="btn btn-secondary">Retornar</a>
{% endblock %}
